local.py
*.pyc
*.mo
*.swp
*.csv
*.Rout
styles.css
tasaparo.min.js
src/media
node_modules
*.py[cod]
docs/build/*
src/static/*
src/scripts/epa-raw/*


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Bower and generated javascripts
src/tasaparo/web/static/js/main.min.js
src/tasaparo/web/static/js/libs/less.js
src/app/components
