{% extends 'layout.html' %}
{% block menu %}
    <li><a title="Inicio" href="{% url home %}">Inicio</a></li>
    <li><a class="sel" title="Conócenos" href="{% url about %}">Conócenos</a></li>
    <li><a title="Más info" href="{% url moreinfo %}">Más info</a></li>
    <li><a title="Descargar el Widget" href="{% url widget %}">Descargar el Widget</a></li>
{% endblock %}
{% block content %}
<div id="home-view">
    <div id="info-ttdp">
        <h1>Quiénes somos</h1>
        <p>TTparo.es es un proyecto desarrollado en el marco de la <a href="http://piweek.es" target="_new">PiWeek</a>
    de <a href="http://kaleidos.net" target="_new">Kaleidos</a>.
        En la primera edición hicimos un prototipo funcional con diseño y datos parciales.</p>
        <p>En esta segunda edición hemos mejorado la carga de datos convirtiéndolo en un proceso rápido; gracias a esto, tenemos todos los datos disponibles.
        También publicamos la opción de incrustar un pequeño widget con un perfil en webs externas.</p>
        <p>Y en el tintero nos dejamos algunas ideas que iremos incorporando poco a poco</a> 
        <p>Los que hemos desarrollado el proyecto:</p>
        <ul>
            <li>
                <h3>Yamila Moreno</h3>
                <a href="http://twitter.com/yamila_moreno" target="_new">@yamila_moreno</a>
        (<a href="http://kaleidos.net/D70A53/" target="_new">Kaleidos</a>)
            </li>
            <li>
                <h3>JuanFran Alcántara</h3>
                (<a href="http://kaleidos.net/40826D/" target="_new">Kaleidos</a>)
            </li>
            <li>
                <h3>Eva Pérez</h3>
                <a href="http://twitter.com/evampp" target="_new">@evampp</a>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Francis Vega</h3>
                <a href="http://twitter.com/francis_vega" target="_new">@francis_vega</a>
                (<a href="http://www.secuoyas.com" target="_new">Secuoyas</a>)
            </li>
                <li><h3>Luis García Castro</h3>
                <a href="http://twitter.com/luiyo" target="_new">@luiyo</a>
            </li>
            <li>
                <h3>Carlos Gil Bellosta</h3>
                <a href="http://twitter.com/gilbellosta" target="_new">@gilbellosta</a>
                (<a href="http://www.datanalytics.com/" target="_new">Data Analytics</a>)
            </li>
        </ul>
        <ul>
            <li>
                <h3>Andrey Antoukh</h3>
                <a href="http://twitter.com/niwibe" target="_new">@niwibe</a>
        (<a href="http://kaleidos.net/A5694F/" target="_new">Kaleidos</a>)
            </li>
            <li>
                <h3>Alejandro Alonso</h3>
                <a href="http://twitter.com/_superalex_" target="_new">@_superalex_</a>
                (<a href="http://kaleidos.net/FC8EAC/" target="_new">Kaleidos</a>)
           </li>
            <li>
                <h3>Xavier Julián</h3>
                <a href="http://twitter.com/Xaviju" target="_new">@Xaviju</a>
                (<a href="http://kaleidos.net/CC0000/" target="_new">Kaleidos</a>)
           </li>
        </ul>
    </div>
</div>


{% endblock %}
