{% load url from future %}
{% load compress menu %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tasa paro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="description" content="" />
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/styles.less" />
    {% endcompress %}
</head>
<body>
    <div id="headerbg"></div>
    <div id="container">
        <div id="header">
            <a title="home" class="link" href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/logo.png" alt="logo" /></a>

           {% main_menu %}

        </div>
        <div id="content">
            {% block content %}
            <div id="inner-content"></div>
            {% endblock %}
            <div id="footer">
                <p>Tu tasa de Paro © 2012 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carlos Gil Bellosta</p>
                <div class="logos">
                    <img src="{{STATIC_URL}}images/logo_kaleidos.png" >
                    <img src="{{STATIC_URL}}images/logo_secuoyas.png" >
                </div>
                <ul>
                    <li><a href="">Mas info</a>  |</li>
                    <li><a href="">Conócenos</a>  |</li>
                    <li><a href="">Descarga el Widget</a>  |</li>
                    <li><a href="">API</a></li>
                </ul>
            </div>
        </div>
    </div>
{% compress js %}

{% block backbone %}
{% endblock %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/raphael-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/elycharts.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/tooltip.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/general.js"></script>
{% endcompress %}
</body>
</html>
