{% extends "layout.html" %}
{% block menu %}
    <li><a class="sel" title="Inicio" href="{% url home %}">Inicio</a></li>
    <li><a title="Conócenos" href="{% url about %}">Conócenos</a></li>
    <li><a title="Más info" href="">Más info</a></li>
    <li><a title="Descargar el Widget" href="{% url widget %}">Descargar el Widget</a></li>
{% endblock %}
{% block content %}
    {% include "menu.html" with option='compare' %}
    <div id='compare-view'>
        <div id="head2">
            <a class="link" href="{% url profile-rate-by-hash query_hash %}">&lt; volver</a>
            <h1>Distribuciones</h1>
        </div>
        <div id="left">
            {% include "recalculate-form.html" %}
        </div>
        <div id="right">
            <ul id="compare-nav">
                <li id="by-sex" data-url="{{ get_compare_sex_url }}">Por género</li>
                <li id="by-age" data-url="{{ get_compare_age_url }}">Por edades</li>
                <li id="by-education" data-url="{{ get_compare_education_url }}">Por niveles de estudio</li>
            </ul>
            <div id="compare">
            </div>
        </div>
    </div>
    {% include "info.html" %}
    <script type="text/template" id="compare-item">
        <div class="bl r<%- level %>" style="display: none; height: 200px; width: 200px; border-radius: 100px; margin-right:10px">
            <span class="percer" style="font-size: 79px; margin-top: 30px;"><%- rate %>%</span>
            <span class="txt" style="font-size: 28px"><%- byLabel %></span>
        </div>
    </script>
{% endblock %}
{% block extrajs %}
{% endblock %}
