{% load compress %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tasa paro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <meta name="description" content="" />
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/dropkick.css" />
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/styles.less" />
    {% endcompress %}
</head>
<body>
    <div id="headerbg"></div>
    <div id="container">
        <div id="header">
            <a title="home" class="link" href="{% url home %}"><img src="{{ STATIC_URL }}images/logo.png" alt="logo" /></a>
            <ul id="menu">
                <li><a class="sel" title="Inicio" href="{% url home %}">Inicio</a></li>
                <li><a title="Conócenos" href="">Conócenos</a></li>
                <li><a title="Más info" href="">Más info</a></li>
                <li><a title="Descargar el Widget" href="">Descargar el Widget</a></li>
                <li><a title="Api" href="">Api</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="inner-content"></div>
            <div id="footer">
                <p>Tu tasa de Paro © 2012</p>
                <ul>
                    <li><a href="">Mas info</a>  |</li>
                    <li><a href="">Conócenos</a>  |</li>
                    <li><a href="">Descarga el Widget</a>  |</li>
                    <li><a href="">API</a></li>
                </ul>
            </div>
        </div>
    </div>

<script type="text/template" id="recalculate">
    <form id="calculate" mehod="post" action="">
        <div class="field">
            <label>Provincia</label>
            <select id="field-province" name="province" class="default">
                <option>sss</option>
                <option>xx</option>
                <option>yyy</option>
            </select>
        </div>
        <div class="field">
            <label>Sexo</label>
            <select id="field-sex" name="sex" class="default">
                <option>sss</option>
                <option>xx</option>
                <option>yyy</option>
            </select>
        </div>
        <div class="field">
            <label>Edad</label>
            <select id="field-age" name="age" class="default">
                <option>sss</option>
                <option>xx</option>
                <option>yyy</option>
            </select>
        </div>
        <div class="field">
            <label>Nivel de estudios</label>
            <select id="field-studies" name="studies" class="default">
                <option>sss</option>
                <option>xx</option>
                <option>yyy</option>
            </select>
        </div>
        <input type="submit" value="RECALCULAR" />
    </form>
</script>

<script type="text/template" id="result-profile">
    <div id="head2">    
        <a href="">&lt; volver</a>
        <h1>Tasa de paro en España</h1>
    </div>
    <div id="left"></div>
    <div id="right">
        <div id="chart"></div>
    </div>
</script>
<script type="text/template" id="search-template">
    <div id="search">
        <h1>Calcula tu tasa de paro</h1>
        <form id="calculate" mehod="post" action="">
            <div class="field">
                <label>Provincia</label>
                <select id="field-province" name="province" class="default">
                    <option>sss</option>
                    <option>xx</option>
                    <option>yyy</option>
                </select>
            </div>
            <div class="field">
                <label>Sexo</label>
                <select id="field-sex" name="sex" class="default">
                    <option>sss</option>
                    <option>xx</option>
                    <option>yyy</option>
                </select>
            </div>
            <div class="field">
                <label>Edad</label>
                <select id="field-age" name="age" class="default">
                    <option>sss</option>
                    <option>xx</option>
                    <option>yyy</option>
                </select>
            </div>
            <div class="field">
                <label>Nivel de estudios</label>
                <select id="field-studies" name="studies" class="default">
                    <option>sss</option>
                    <option>xx</option>
                    <option>yyy</option>
                </select>
            </div>
            <input type="submit" value="CALCULAR" />
        </form>
        <div class="deco"></div>
    </div>
</script>
<script type="text/template" id="result-empty-template">
    <div id="result">
        <div id="actual"><span>Paro actual<br/> en España</span>25%</div>
        <div id="resulparo" class="r1 question"><span>tu tasa</span>?</div>
    </div>
</script>
<script type="text/template" id="info-result">
    <div id="info">
        <div class="item">
            <div class="ball r1"></div>
            <h3>Nivel Alto</h3>
            <p>Bastante por encima de la media Española</p>
        </div>
        <div class="item">
            <div class="ball r2"></div>
            <h3>Nivel Medio</h3>
            <p>Variación de un 10% arriba o abajo de la media Española</p>
        </div>
        <div class="item">
            <div class="ball r3"></div>
            <h3>Nivel Bajo</h3>
            <p>Bastante por debajo de la media Española</p>
        </div>
    </div>
</script>
<script type="text/template" id="result-template">
    <div id="result">
        <div id="actual"><span>Paro actual<br/> en España</span>25%</div>
        <div id="resulparo" style="display: none;" class="r<%- level %>"><%- result %><span><%- leveltxt %></span></div>
        <div id="nav-results">
            <a class="link" href="" id="nav-map">Tu perfil<br/>en España</a>
            <a class="link" href="" id="nav-comp">Comparativa<br/>en tu provincia</a>
            <a class="link" href="{% url profile %}" id="nav-prov">Evolución<br/>zerfil</a>
        </div>
    </div>
</script>

<script type="text/template" id="last-profiles-item">
    <div class="lresults">
        <p class="tm">hace <%- time %></p>
        <div class="result r<%- level%>"><%- percent %></div>
        <div class="txt">
            <%- sex %>, <%- years %> años<br/>
            <%- province %><br/>
            <%- studies %>
        </div>
    </div>
</script>
<script type="text/template" id="last-profiles">
        <div id="last">
            <h2>Últimas consultas</h2>
        </div>
</script>
{% compress js %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/raphael-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/elycharts.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.dropkick-1.0.0.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/json2.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/tooltip.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/general.js"></script>
{% endcompress %}
</body>
</html>
