{% extends "layout.html" %}

{% block menu %}
    <li><a class="sel" title="Inicio" href="{% url home %}">Inicio</a></li>
    <li><a title="Conócenos" href="{% url about %}">Conócenos</a></li>
    <li><a title="Más info" href="{% url moreinfo %}">Más info</a></li>
    <li><a title="Descargar el Widget" href="{% url widget %}">Descargar el Widget</a></li>
{% endblock %}
{% block content %}
<div id="home-view">
    <div id="search"
        {% if calculated_query %}level="{{calculated_query.compare_to_general.0}}" leveltxt="{{calculated_query.compare_to_general.1}}" rate="{{calculated_query.rate}}"{% endif %}>
        <h1>Calcula tu tasa de paro</h1>
        <form id="calculate" method="get" action="{{get_profile_rate_url}}">
            <div class="field">
                <label>Provincia</label>
                {{form.province}}
            </div>
            <div class="field">
                <label>Género</label>
                {{form.sex}}
            </div>
            <div class="field">
                <label>Edad</label>
                {{form.age}}
            </div>
            <div class="field">
                <label>Nivel de estudios</label>
                {{form.education}}
            </div>
            <input type="submit" value="CALCULAR" />
        </form>
        <div class="deco"></div>
    </div>
    <div id="result">
        <div id="actual"><span>Paro actual<br/> en España</span>{{general_rate.rate}}%</div>
        {% if calculated_query %}
        <div id="result">
            <div id="actual"><span>Paro actual<br/> en España</span>{{general_rate.rate}}%</div>
            <div id="resulparo" class="r{{calculated_query.compare_to_general.0}}">{{calculated_query.rate}}%<span>{{calculated_query.compare_to_general.1}}</span></div>
            <div id="nav-results">
                <a class="link" href="{% url map query_hash %}" id="nav-map">Tu perfil<br/>en España</a>
                <a class="link" href="{% url compare query_hash %}" id="nav-comp">Distribuciones</a>
                <a class="link" href="{% url profile query_hash %}" id="nav-prov">Evolución<br/>perfil</a>
            </div>
            <div id="compartir">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Mi tasa de paro es {{calculated_query.rate}}%" data-via="kaleidosnet" data-hashtags="ttdp" data-count="none" data-lang="en">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        {% else %}
        <div id="resulparo" class="r1 question"><span>tu tasa</span>?</div>
        {% endif %}
    </div>
    {% include "info.html" %}
    <div id="last">
        <h2>Últimas consultas</h2>
        {% for query in latest_queries %}
        <div class="lresults" rel="{{ query.absolute_url }}">
            <div class="result r{{query.level}}">{{query.rate}}%</div>
            <div class="txt">
                {{query.sex}}<br/>
                {{query.age}}<br/>
                {{query.province}}<br/>
                {{query.education}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
    //app.views.home = new Views.Home();
{% endblock %}
