    <div id="info">
        <div class="item">
            <div class="ball r1"></div>
            <h3>Nivel Alto</h3>
            <p>Bastante por encima de la media española</p>
        </div>
        <div class="item">
            <div class="ball r2"></div>
            <h3>Nivel Medio</h3>
            <p>Variación de un 20% respecto de la media española</p>
        </div>
        <div class="item">
            <div class="ball r3"></div>
            <h3>Nivel Bajo</h3>
            <p>Bastante por debajo de la media española</p>
        </div>
    </div>   
