{% extends "layout.html" %}
{% block menu %}
    <li><a class="sel" title="Inicio" href="{% url home %}">Inicio</a></li>
    <li><a title="Conócenos" href="{% url about %}">Conócenos</a></li>
    <li><a title="Más info" href="">Más info</a></li>
    <li><a title="Descargar el Widget" href="{% url widget %}">Descargar el Widget</a></li>
{% endblock %}
{% block content %}
    {% include "menu.html" with option='map' %}
    <div id='map-view' data-url="{{ get_province_rates_url }}">
        <div id="head2">
            <a class="link" href="{% url profile-rate-by-hash query_hash %}">&lt; volver</a>
            <h1>Tu tasa de paro en España</h1>
        </div>
        <div id="left">
            {% include "recalculate-form.html" %}
        </div>
        <div id="right">
            <div id="map"></div>
        </div>
    </div>
    {% include "info.html" %}
{% endblock %}
