{% extends "layout.html" %}
{% block content %}
    {% include "menu.html" with option='profile' %} 
    <div id='profile-view'>
        <div id="head2">
            <a class="link" href="{% url profile-rate-by-hash query_hash %}">&lt; volver</a>
            <h1>Evolución de la tasa por perfiles</h1>
        </div>
        <div id="left">
            {% include "recalculate-form.html" %}      
        </div>
        <div id="right">
            <div id="chart"></div>
        </div>    
    </div>
    {% include "info.html" %} 
{% endblock %}
