{% extends 'layout.html' %}
{% block menu %}
    <li><a title="Inicio" href="{% url home %}">Inicio</a></li>
    <li><a title="Conócenos" href="{% url about %}">Conócenos</a></li>
    <li><a title="Más info" href="{% url moreinfo %}">Más info</a></li>
    <li><a class="sel" title="Descargar el Widget" href="{% url widget %}">Descargar el Widget</a></li>
{% endblock %}
{% block content %}
<div id="widget-view" data-url="{{ get_widget_html }}">
    <div id="info-ttdp">
        <h1>Descarga el widget</h1>

        {% include "recalculate-form.html" %}

        <div id="widget-wrapper">
            <p>Copia y pega este script tan chupi en tu página web para mostrar tu tasa de paro:</p>
            <textarea id="widget-html"></textarea>
        </div>

    </div>
</div>


{% endblock %}
